<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.stephen.fyp_driving_lessons">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />

    <provider
        android:name="com.tyczj.extendedcalendarview.CalendarProvider"
        android:authorities="com.tyczj.extendedcalendarview.calendarprovider" />

    <meta-data
        android:name="com.google.android.gms.version"
        android:value="@integer/google_play_services_version" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/car_icon"
        android:label="Driving Lessons"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Learner_Login"
            android:label="Learner_Login"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LearnerDetails"
            android:label="@string/title_activity_learner_details"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".BookATest"
            android:label="@string/title_activity_book_atest"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LearnerRegister"
            android:label="@string/title_activity_learner_register"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".DriverLogin"
            android:label="@string/title_activity_driver_login"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".instructorRegister"
            android:label="@string/title_activity_instructor_register" />
        <activity
            android:name=".InstructorBookings"
            android:label="InstructorBooking" />
        <activity android:name=".InstructorsList" />
        <activity android:name=".BookingsList"></activity>
    </application>

</manifest>