<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.stephen.fyp_driving_lessons">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/car_icon"
        android:label="Driving Lessons"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Learner_Login" />
        <activity
            android:name=".LearnerDetails"
            android:label="@string/title_activity_learner_details"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".BookATest"
            android:label="@string/title_activity_book_atest"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".InstructoDetails"
            android:label="@string/title_activity_instructo_details"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>